[submodule "DynamicGUI"]
	path = DynamicGUI
	url = https://github.com/ntankard/DynamicGUI.git
[submodule "JavaObjectDatabase"]
	path = JavaObjectDatabase
	url = https://github.com/ntankard/JavaObjectDatabase.git
